<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시글 수정하기</title>
  <!--BootStap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/board/boardWrite.css" />
  <!--Jquery-->
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

  <!-- Summer Note -->
  <script src="/js/summerNote/summernote-lite.js"></script>
  <script src="/js/summerNote/summernote-ko-KR.js"></script>
  <link rel="stylesheet" href="/js/summerNote/summernote-lite.css">
</head>
<body>
<div>
  <th:block th:include="header"></th:block>
</div>
<div class="head">
  <div><h1><b>게 시 글 수 정</b></h1></div>
</div>
<form id="summernoteForm" action="/board/update" method="post" enctype="multipart/form-data">

  <!--Summer Note-->
  <div class="container">
    <div class="title">
      <input type="hidden" name="board_id" th:value="${content.board_id}">
      <input type="text" id="title" name="title" th:value="${content.title}">
    </div>
    <textarea class="summernote" id="summernote" name="content" th:utext="${content.content}"></textarea>
  </div>
  <input type="hidden" id="orgfilename" name="orgfilename">
  <input type="hidden" id="filename" name="filename">
  <input type="hidden" id="filepath" name="filepath">
  <script>

    $('.summernote').summernote({
        height: 450,
        lang: "ko-KR",
        callbacks: {
          onImageUpload : function(files, editor, welEditable){
              console.log(files);
              console.log(editor);
              console.log(welEditable);

                // 파일 업로드(다중업로드를 위해 반복문 사용)
                for (var i = files.length - 1; i >= 0; i--) {
                    uploadSummernoteImageFile(files[i], this);
                    }
                }
            }
    });
function uploadSummernoteImageFile(file, el) {
        var data = new FormData();
        data.append("file",file);
            $.ajax({
              url: '/summernoteUpload',
              type: 'POST',
              enctype: 'multipart/form-data',
              data: data,
              cache: false,
              contentType : false,
              processData : false,
              success : function(data) {
                        $(el).summernote('editor.insertImage', data.filepath);
                        $('#orgfilename').val(data.orgname);
                        $('#filename').val(data.savename);
                        $('#filepath').val(data.filepath);
                    },
                });
            }

</script>
  <div class="writeBtn">
    <button type="submit" class="btn btn-outline-info">수정완료</button>
  </div>
</form>
</body>
<!-- Footer -->
<footer id="footer">
  <div>
    <th:block th:include="footer"></th:block>
  </div>
</footer>
</html>