<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <!--BootStap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!--Jquery-->
    <!--    <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>-->
    <script
            src="https://code.jquery.com/jquery-3.7.0.min.js"
            integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="/css/login.css">
</head>
<header>
    <th:block th:include="header"></th:block>
</header>
<body>
<div class="wrapper">
    <div class="container">

            <form name="login" action="/login" method="post">
                <h1 style="">로 그 인</h1>
                <input type="text" name="userid" placeholder="ID">
                <input type="password" name="password" placeholder="Password">
                <button type="submit" class="form_btn" style="width: 112px;">로그인</button>
                <button type="button" class="form_btn" th:onclick="|location.href='@{join}'|">회원가입</button>
                <button type="button" class="kakaoLoginBtn">
                    <img src="/images/kakao_login_btn.png" th:onclick="|location.href='https://kauth.kakao.com/oauth/authorize?client_id=208fc9a7feea00a7916e920118a58dc9&redirect_uri=http://localhost:9090/kakao/callback&response_type=code'|">
                </button>
            </form>
    </div>
</div>
<script th:inline="javascript">

</script>
</body>
<!-- Footer -->
<footer id="footer">
    <div>
        <th:block th:include="footer"></th:block>
    </div>
</footer>
</html>