table {
    width: 100%;
    text-align: center;
    border: 1px solid #fff;
    border-spacing: 1px;
    font-family: 'Cairo', sans-serif;
    margin: 30px auto;
}

caption {
    font-weight: bold;
}

table td {
    padding: 10px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

table th {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

table img {
    width: 90px;
    height: 90px;
}

.view,
.fan {
    border: none;
    padding: 5px 10px;
    color: #fff;
    font-weight: bold;
}

.view {
    background-color: #03A9F4;
}

.fan {
    background-color: #E91E63;
}

.tablefoot {
    padding: 0;
    border-bottom: 3px solid #009688;
}

.search {
    position: relative;
    width: 500px;
    margin: 30px 0px 0px 200px;
  }

  .search input[type=text] {
     width: 100%;
     border: 1px solid #bbb;
     border-radius: 8px;
     padding: 10px 12px;
     font-size: 14px;
   }

   #searchimg {
     position : absolute;
     width: 25px;
     height: 22px;
     top: 11px;
     right: 18px;
     margin: auto;
   }

   #paging {
    text-align: center;
    margin: 10px 0;
    font-size: 18px;
   }

   #paging a, strong{
    padding: 0px 5px 0px 5px;
   }