#headerdiv {
		background: rgba(55, 61, 73, 0.975);
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
	}

	#headerdiv #left {
		margin: 0px 10px;
		color: white;
        font-size: 16pt;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: -0.015em;
        text-decoration: none;
	}

	a {
	    /*color: transparent;*/
	}

	#headerdiv #right {
		margin: 0px 10px;
		display: flex;
	}

	#headerdiv #right button {
        margin: 0px 5px;
        font-size: medium;
        height: 32px;
        color: #cdc5c5;
        border: 0px;
        box-shadow: inset 0 0 0 2px #e6e6e6;
        padding: 4px 8px;
    }

    #right span {
        font-size: 18px;
        margin-right: 3px;
        color: white;
    }

    #center label{
        margin: 0px 50px;
        font-weight: bold;
        color: #828282;
        font-size: 16pt;
    }

/*
---------------------------------------
main menu hover effect
---------------------------------------
*/


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  a:hover, a:focus {
    outline: none;
  }



.menu a {
    font-family: Lato;
    font-size: 14pt;
    font-weight: bolder;
    padding: 5px 25px;
    /**/
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
  }

.SMN_effect-34 a:before, .SMN_effect-34 a span:before, .SMN_effect-34 a:after, .SMN_effect-34 a span:after {
    content: "";
    position: absolute;
  }

  .SMN_effect-34 a:before, .SMN_effect-34 a span:before {
    top: -webkit-calc(50% - .3em);
    top: calc(50% - .3em);
    left: -.25em;
    width: .5em;
    height: .5em;
    opacity: 0;
    -webkit-transform: translate3d(-.6em, 0, 0) rotate(45deg);
    transform: translate3d(-.6em, 0, 0) rotate(45deg)
  }

  .SMN_effect-34 a:after, .SMN_effect-34 a span:after {
    bottom: -webkit-calc(50% - .35em);
    bottom: calc(50% - .35em);
    right: -.25em;
    width: .5em;
    height: .5em;
    opacity: 0;
    -webkit-transform: translate3d(.6em, 0, 0) rotate(45deg);
    transform: translate3d(.6em, 0, 0) rotate(45deg)
  }

  .SMN_effect-34 a:before, .SMN_effect-34 a:after {
    -webkit-transition: -webkit-transform .3s ease-out, opacity .3s;
    transition: transform .3s ease-out, opacity .3s
  }

  .SMN_effect-34 a span:before, .SMN_effect-34 a span:after {
    -webkit-transition: -webkit-transform .3s ease-out .15s, opacity 0s .05s;
    transition: transform .3s ease-out .15s, opacity 0s .05s
  }

  .SMN_effect-34 a:hover {
    overflow: visible
  }

  .SMN_effect-34 a:hover:before, .SMN_effect-34 a:hover span:before {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1
  }

  .SMN_effect-34 a:hover:after, .SMN_effect-34 a:hover span:after {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
    opacity: 1
  }

  .SMN_effect-34 a:before, .SMN_effect-34 a span:before {
    border-right: .15em solid rgba(255, 255, 255, 0.4);
    border-top: .15em solid rgba(255, 255, 255, 0.4);
  }

  .SMN_effect-34 a:after, .SMN_effect-34 a span:after {
    border-left: .15em solid rgba(255, 255, 255, 0.4);
    border-bottom: .15em solid rgba(255, 255, 255, 0.4);
  }


  ul {
      list-style:none;
  }

  #center li {
      float: left;
      margin: 0px 20px;
  }

    #center a{
      color: #b8b2b2;
    }

    #center a focus {
        outline: none;
    }