<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <!--BootStap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<style>
body {
    width: 1800px;
    margin: 0px auto;
    text-align: center;
}
div {
    width: 1800px;
}
</style>
<body>
<div class="text-right mt-3 mr-4">
    <span th:if="${session.loginId}" th:text="|${session.loginId}님 환영합니다|"></span>
    <a th:if="${session.loginId}" href="/logout" class="ml-2">로그아웃</a>
    <a th:unless="${session.loginId}" href="/login" class="mr-2 ml-3">로그인</a>
    <a th:unless="${session.loginId}" href="/join">회원가입</a>
</div>
<div><h1>메인페이지!!</h1></div>
</body>
</html>