<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>아티스트 목록</title>
    <!--BootStap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="css/artist/artistList.css" />
    <link rel="stylesheet" href="css/paging/paging.css" />
    <!--Jquery-->
    <script
            src="https://code.jquery.com/jquery-3.7.0.min.js">
    </script>
</head>
<body>
<div>
    <th:block th:include="header"></th:block>
</div>
<div class="head">
    <div><h1><b>아 티 스 트 목 록</b></h1></div>
</div>
<div id="wrap">
<form name="artistSearch" action="/artistList" method="get">
    <div class="search">
        <input type="text" name="searchKeyword" id="artistSearch" placeholder="팀명을 검색해보세요." th:value="${searchKeyword}">
        <input type="image" id="searchimg" src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
    </div>
</form>

<script th:inline="javascript">

</script>

<table>
    <thead>
    <tr>
        <th>프로필사진</th>
        <th>팀명</th>
        <th>공연예정일</th>
        <th>Fan</th>
        <th>구독하기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="artist: ${artistList}">
        <td><img th:src="|images/artistTeamProfile/${artist.filename}|" alt="img" th:if="${artist.filename != null}"></td>
        <td class="allCell" th:text="${artist.teamname}">Ninja</td>
        <td class="firstCell" th:each="date: ${dateList}" th:if="${artist.teamname == date.team_name}" th:text="${date.date}"></td>
        <td class="secondCell">-</td>
        <td>120</td>
        <td>
            <button class="fan">♡</button>
        </td>

    </tr>


    <tfoot>
    <td colspan="5" class="tablefoot"></td>
    </tfoot>
</table>
<div class="page_wrap">
    <div class="page_nation">
        <a class="arrow pprev" th:href="@{artistList(page=0, searchKeyword = ${param.searchKeyword})}"></a>
        <a class="prev" th:href="@{artistList(page= ${prevBtn}, searchKeyword = ${param.searchKeyword})}"></a>
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage+1}" th:href="@{artistList(page = ${page-1}, searchKeyword = ${param.searchKeyword})}" th:text="${page}"></a>
            <a class="active" th:if="${page == nowPage+1}" th:text="${page}"></a>
        </th:block>
        <a class="next" th:href="@{artistList(page= ${nextBtn}, searchKeyword = ${param.searchKeyword})}"></a>
        <a class="arrow nnext" th:href="@{artistList(page = ${totalPageCount-1}, searchKeyword = ${param.searchKeyword})}"></a>
    </div>
</div>
</div>
</body>


<script th:inline="javascript">
document.addEventListener("DOMContentLoaded", function() {
    var rows = document.querySelectorAll("tbody tr");
    var allCell = document.querySelectorAll(".allCell")

    for (var i = 0; i < allCell.length; i++) {
    rows.forEach(function(row) {
      var tdCount = row.querySelectorAll("td").length;
      var secondCell = row.querySelectorAll(".secondCell");

      if (tdCount === 6) {
          console.log(tdCount);
            secondCell[i].style.display = "none";
          } else {
            secondCell[i].style.display = "table-cell";
          }
          });
      }

  });
</script>


<!--footer-->
<footer>
    <div id="footer">
        <th:block th:include="footer"></th:block>
    </div>
</footer>
</html>