<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/concertInfo/concertInfo.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>공연상세정보</title>
</head>
<header>
    <th:block th:include="header"></th:block>
</header>
<body>
<div class="sv_top">
    <div class="in">
        <div class="poster">
            <!-- 포스터 테스트 -->
            <!-- <img src="/static/portal/img/thumb/poster_temp.jpg" alt="" /> -->

            <img src="images/sample.jpg" alt="">

        </div>
        <div class="txt">
            <div class="tit">
                <h2 class="t" th:text="${concert.title}">
                </h2>

            </div>
            <ul class="detail">
                <li><span class="dt">날짜</span><span class="dt2" th:text="${concert.date}"></span></li>
                <li><span class="dt">시간</span><span class="dt2" th:text="${concert.start_time}"></span></li>
                <li><span class="dt">장소</span><span class="dt2" th:text="${concert.place}"></span></li>
                <li><span class="dt">인원</span><span class="dt2" th:text="|${concert.stage_size}명|"></span></li>
                <li><span class="dt">티켓</span><span class="dt2" th:text="|${concert.price}원|"></span></li>
                <li style="border:0"><span class="dt">공연설명</span><br>
                    <div id="note" th:utext="${#strings.replace(concert.note, nlString, '&lt;br /&gt;')}"></div></li>

            </ul>
        </div>
    </div>
</div>

</body>

<!-- Footer -->
<footer id="footer">
    <div>
        <th:block th:include="footer"></th:block>
    </div>
</footer>
</html>