<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>공연리스트</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,300italic,300,500,500italic,700,900">
    <link rel="stylesheet" href="css/footer.css" />
    <!--
    Artcore Template
    http://www.templatemo.com/preview/templatemo_423_artcore
    -->
    <link rel="stylesheet" href="css/concertList/bootstrap.css">
    <link rel="stylesheet" href="css/concertList/templatemo-style.css">
    <script src="js/concertList/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
</head>
<header>
    <th:block th:include="header"></th:block>
</header>
<body id="body">
<div class="content-wrapper">
<!--    <div th:if="${contentList}"></div>-->
    <div th:unless="${concertList}" id="concert">등록된 공연이 없습니다.</div>
    <div class="inner-container container">
<div class="row">
<div class="blog-masonry masonry-true">
    <div th:each="concert: ${concertList}">
            <div class="post-masonry col-md-4 col-sm-6">
            <div class="blog-thumb">
                <img src="images/blog/blog-1.jpg" alt="">
                <div class="overlay-b">
                    <div class="overlay-inner">
                        <a th:href="@{/concertInfo(concert_id=${concert.concert_id})}" class="fa fa-link"></a>
                    </div>
                </div>
            </div>
            <div class="blog-body">
                <div class="box-content">
                    <h3 class="post-title" th:text="${concert.team_name}"></h3>
                    <span id="dateText" class="blog-meta" th:text="|${concert.date}  /  ${concert.start_time}|"></span>
                    <p th:utext="${#strings.replace(concert.note, nlString, '&lt;br /&gt;')}"></p>
<!--                    <p th:text="${concert.note}"></p>-->
                </div>
            </div>
        </div><!-- /.post-masonry -->

    </div>
            </div> <!-- /.blog-masonry -->
        </div> <!-- /.row -->

    </div> <!-- /.inner-content -->
</div> <!-- /.content-wrapper -->

<script src="js/concertList/vendor/jquery-1.11.0.min.js"></script>
<script src="js/concertList/plugins.js"></script>
<script src="js/concertList/main.js"></script>
</body>

<!-- Footer -->
<footer id="footer">
    <div>
        <th:block th:include="footer"></th:block>
    </div>
</footer>
</html>
