<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공연등록</title>
  <!--BootStap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/artistList.css" />
  <link rel="stylesheet" href="css/join.css" />
  <link rel="stylesheet" href="css/footer.css" />
  <link rel="stylesheet" href="css/artistList.css" />
  <!--Jquery-->
  <script
          src="https://code.jquery.com/jquery-3.7.0.min.js">
  </script>
</head>
<body>
<div>
  <th:block th:include="header"></th:block>
</div>
<div id="body">
  <div style="margin-top: 50px;"><h1><b>공 연 등 록</b></h1></div>
  <div style="margin-top: 150px; float: left; width: 900px; display: block;"><h5 style="text-align: left;"><b>공연정보입력</b></h5>
    <hr style="margin-top: 0px;"></div>
  <div style="clear:both;"></div>

  <form name="register" action="/register" id="frm" method="post" enctype="multipart/form-data">
    <div class="row g-3 mt-5">
      <div class="col-auto">
        <div class="textBox" readonly> 공연 포스터를 등록해주세요.</div>
        <div><input name="file" id="filename" type="file" accept="image/*"></div>
      </div>
    </div>

    <div class="row g-3 mt-5">
      <div class="col-auto">
        <input name="team_name" type="text" th:value="${teamname}" class="textBox" readonly>
      </div>

    </div>
    <div class="row g-3 mt-1 ml-2" id="check-result"></div>
    <p id="useridOutput"></p>

    <div class="row g-3 mt-4">
      <div class="col-auto">
        <input name="title" id="title" type="text" placeholder="공연제목" class="textBox">
      </div>
    </div>

    <div class="row g-3 mt-4">
      <div class="col-auto">
        <input name="place" id="place" type="text" placeholder="장소" class="textBox">
      </div>
    </div>
<script th:inline="javascript">

</script>
    <div class="row g-3 mt-4">
      <div class="col-auto">
        <input name="date" id="date" type="date" placeholder="날짜" class="textBox">
      </div>
    </div>

    <div class="row g-3 mt-4">
      <div class="col-auto">
        <select name="start_time" id="time" class="textBox">
          <option selected disabled hidden>공연시간</option>
        </select>
      </div>
    </div>



    <div class="row g-3 mt-4">
      <div class="col-auto">
        <input name="stage_size" type="number" placeholder="공연장 최대인원" step="1" class="textBox"> 명
      </div>
    </div>

    <div class="row g-3 mt-4">
      <div class="col-auto">
        <input type="text" name="price" id="price" placeholder="티켓가격(미입력시 무료)" class="textBox" oninput="numberOnly(this)"> 원
      </div>
    </div>

    <div class="row g-3 mt-4">
      <div class="col-auto">
        <div class="textBox">
          공연에대한 설명을 팬들이 볼수있도록 자유롭게 작성해주세요.
        </div>
        <div>
          <textarea class="textBox" name="note"></textarea>
        </div>
      </div>
    </div>



    <div style="margin-bottom: 40px;">
      <button type="button" class="btn btn-outline-primary" onclick="check()">등록하기</button>

      <!--        <input type="submit" class="btn btn-outline-primary" id="submitBtn" value="가입하기">-->
    </div>


  </form>
</div>
<!-- 시작시간, 종료시간 selectbox -->
<script th:inline="javascript">
    const starttime = document.getElementById('time');

    //공연시간 selectbox 24시 단위
    for (let hour = 0; hour < 24; hour++) {
        for (let minute = 0; minute < 60; minute += 30) {
        const option = document.createElement('option');
        const formattedHour = hour.toString().padStart(2, '0');
        const formattedMinute = minute.toString().padStart(2, '0');
        option.value = `${formattedHour}:${formattedMinute}`;
        option.textContent = `${formattedHour}:${formattedMinute}`;
        starttime.appendChild(option);
      }
    }

    //티켓가격에 "," 찍히게
    const input = document.querySelector('#price');
    input.addEventListener('keyup', function(e) {
        let value = e.target.value;
        value = Number(value.replaceAll(',', ''));
        if(isNaN(value)) {

        }else {
            const formatValue = value.toLocaleString('ko-KR');
            input.value = formatValue;
        }
      })

      //공연 날짜 최솟값 설정
      var todayDate = new Date().toISOString().slice(0,10);
      document.getElementById('date').setAttribute("min", todayDate);

      //티켓가격 숫자만 입력
      function numberOnly(el) {
        el.value = el.value.replace(/[^0-9]/g, '');
      }

      //필수값 미입력시 alert
      function check(){
        var place = document.getElementById('place').value;
        var date = document.getElementById('date').value;
        var time = document.getElementById('time').value;
        var price = document.getElementById('price').value;
        if(!place) {
          alert('공연장소를 입력해 주세요.');
        }else if(!date) {
          alert('공연날짜를 입력해 주세요.');
        }else if(time == '공연시간') {
          alert('공연시작시간을 입력해 주세요.');
        }else if(!price) {
          alert('티켓가격을 입력해 주세요.');
        }else {
          document.getElementById('frm').submit();
        }
      }

</script>
</body>
</body>
<footer>
  <div id="footer">
    <th:block th:include="footer"></th:block>
  </div>
</footer>
</html>